In [66]:
import pandas as pd

#read data from csv file into a dataframe
file_path = 'C:\\Users\\Anjan Das\\Desktop\\programming\\python\\PANDAS\\movies.csv'
df = pd.read_csv(file_path)
#print(type(df))

#read excel file
df_excel = pd.read_excel('C:\\Users\\Anjan Das\\Desktop\\programming\\python\\numpy\\products_apple.xlsx')
#print(df_excel)
#lets save  data on csv file 
myData = {
    "Name":["Anjan Das","Ram Das","Raman saha"],
    "Age":[21,20,22],
    "City":["kolkata","South 24 Pgs","Sonarpur"]
}
df_mydata = pd.DataFrame(myData) #converts to data frame
print(df_mydata) 

#to csv method
#df_mydata.to_csv("mydata_csv_version.csv")
#we can remove the index i.e 0,1,2
df_mydata.to_csv("mydata_csv_version.csv",index=False)#the index column not include 
#now save on excel
df_mydata.to_excel("mydata_excel_version.xlsx",index=False)
#lets save on json
df_mydata.to_json("mydata_json_version.json",index=False)

         Name  Age          City
0   Anjan Das   21       kolkata
1     Ram Das   20  South 24 Pgs
2  Raman saha   22      Sonarpur

In [67]:
#exploring the data 
#to understand the data sets 
#identify the data like duplicate , error ,missing 
#plan next steps to do


#lets a csv file have a large entry 
#we just want to se the some first and last data i.e row to get  a bit knowledge on it

df_bike_sales = pd.read_csv('C:\\Users\\Anjan Das\\Desktop\\programming\\python\\data_sets\\bike_sales_india.csv')
#head ,tail method
#df_bike_sales.head(3)

#df_bike_sales.tail(3)

#lets summarize the data size ,types(which column which data type) ,missing data

#info method in pandas
#-no of rows and column , data types on column , non null count , column names
#memory usage of data frame

print("Displaying the info of data set...")
print(df_bike_sales.info())

#shape ->attribute
#column ->attribute
print("Shape of data :",df_bike_sales.shape)
print("Column names -\n",df_bike_sales.columns)

Displaying the info of data set...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   State                    10000 non-null  object
 1   Avg Daily Distance (km)  10000 non-null  float64
 2   Brand                    10000 non-null  object
 3   Model                    10000 non-null  object
 4   Price (INR)              10000 non-null  int64
 5   Year of Manufacture      10000 non-null  int64
 6   Engine Capacity (cc)     10000 non-null  int64
 7   Fuel Type                10000 non-null  object
 8   Mileage (km/l)           10000 non-null  float64
 9   Owner Type               10000 non-null  object
 10  Registration Year        10000 non-null  int64
 11  Insurance Status         10000 non-null  object
 12  Seller Type              10000 non-null  object
 13  Resale Price (INR)       10000 non-null  float64
 14  City Tier                10000 non-null  object
dtypes: float64(3), int64(4), object(8)
memory usage: 1.1+ MB
None
Shape of data : (10000, 15)
Column names -
 Index(['State', 'Avg Daily Distance (km)', 'Brand', 'Model', 'Price (INR)',
       'Year of Manufacture', 'Engine Capacity (cc)', 'Fuel Type',
       'Mileage (km/l)', 'Owner Type', 'Registration Year', 'Insurance Status',
       'Seller Type', 'Resale Price (INR)', 'City Tier'],
      dtype='object')

In [ ]:
#describe method
#its gives the smarmy of 

#let make a  data set and save 

herapheri_character = {
    'Name': ["Raju", "Shyam", "Babu bhaiya", "Tiwari", "Anuradha"],
    'Age': [30, 32, 45, 49, 29],
    'Catchphrase': [
        "25 din mein paisa double",               # Raju
        "Main time pe aata hoon!",              # Shyam
        "Utha le re baba!",                     # Babu bhaiya
        "Mera 40 lakh de!",                     # Tiwari
        "Paise ka bandobast ho gaya?"           # Anuradha
    ]
}

#make the data frame
df_herapheri_character = pd.DataFrame(herapheri_character)
print(df_herapheri_character)

#now use the describe method 
print(f"Descriptive statistics {df_herapheri_character.describe()}")

# Output -
# Descriptive statistics              Age
# count   5.000000
# mean   37.000000
# std     9.300538
# min    29.000000
# 25%    30.000000
# 50%    32.000000
# 75%    45.000000
# max    49.000000

# Though my data set have only one column of int values 
# the info gives the values related to this 
# like "age" the count -< noNull count -> 5 i.e all column are no null
# then the mean i.e the mean of age 
# and so on, std,max..
# .describe() in pandas gives summary stats for numeric columns.
# It internally **sorts the data i.e Age column** (not visibly) to calculate percentiles.
# 25%     -> 1st quartile (25% of values are ≤ this) ->based on sorted data
# 50%     -> Median (50% of values ≤ this) -> NOT based on row position
# 75%     -> 3rd quartile (75% of values ≤ this)

# First Quartile (25%) explained:
# When the Age column is sorted → [29, 30, 32, 45, 49]
# The 25% value (Q1) = 30
#  This means: 25% of the data values are **less than or equal to 30**
#  i.e., 30 is the value below which the first quarter of the sorted data lies.
# So, 29 and 30 are in the lowest 25% range (2 values out of 5 = 40%, but it's an approximate)
#
#  Think of quartiles as cutting sorted data into 4 equal parts.
#  - Q1 (25%) -> lower bound
#  - Q2 (50%) >median
#  - Q3 (75%) > upper bound of middle data

          Name  Age                  Catchphrase
0         Raju   30     25 din mein paisa double
1        Shyam   32      Main time pe aata hoon!
2  Babu bhaiya   45             Utha le re baba!
3       Tiwari   49             Mera 40 lakh de!
4     Anuradha   29  Paise ka bandobast ho gaya?
Descriptive statistics              Age
count   5.000000
mean   37.000000
std     9.300538
min    29.000000
25%    30.000000
50%    32.000000
75%    45.000000
max    49.000000

In [76]:
#1-selecting a specif column 
#2-filter row
#3-filter a row based on condition

#1->>selecting columns using '[]'


#select the Mileage (km/l) on the bike_sales
milage_data  =  df_bike_sales['Mileage (km/l)']
#print(type(milage_data)) #as expected its a series
#print(milage_data)

#select multiple column 
bike_milage_data = df_bike_sales[["Mileage (km/l)","Model"]]
#print(bike_milage_data)


#2->>-filter row on a single condition //condition here is milage section > 93
filter_bikes_byMilage = df_bike_sales[df_bike_sales["Mileage (km/l)"] > 93]
#print(filter_bikes_byMilage)
#from here also select the bike model and fuel column
filter_bikes_byMilage = filter_bikes_byMilage[["Mileage (km/l)","Model"]]
#print(filter_bikes_byMilage)

#3--> filter row using multiple condition 

filter_hero_bikes = df_bike_sales[(df_bike_sales['Brand'] == 'Hero') & (df_bike_sales['Insurance Status'] == "Active")]
#print(filter_hero_bikes)

#lets see all the hero models bikes i.e filter the columns 
hero_bikes_models = filter_hero_bikes[["Brand", "Model", "Year of Manufacture"]]
print(hero_bikes_models)

     Brand          Model  Year of Manufacture
9     Hero      HF Deluxe                 2024
16    Hero    Xtreme 160R                 2020
19    Hero        Glamour                 2017
22    Hero      HF Deluxe                 2017
32    Hero    Passion Pro                 2019
...    ...            ...                  ...
9835  Hero  Splendor Plus                 2019
9839  Hero    Xtreme 160R                 2020
9912  Hero    Passion Pro                 2020
9943  Hero    Passion Pro                 2024
9970  Hero      HF Deluxe                 2020

[387 rows x 3 columns]