In [43]:
import pandas as pd

data = {
    'Name' : ["Anjan","Raman","Rahul","Kallyan"],
    "Age": [20,21,20,22],
    "salary":[30000,33000,36000,28000],
    "performance_score":[90,85,89,90]

}

df = pd.DataFrame(data)
print(df)

#introduce new column
#df["Bouns" ] = df["salary"] * 0.2 * df['prrformance_score']*0.01

#print(df)
#same using insert column  at specific position

#df.insert(loc,column name,data)
df.insert(0,"Emp_id",[1002,2001,1012,1035])
print(df)

      Name  Age  salary  performance_score
0    Anjan   20   30000                 90
1    Raman   21   33000                 85
2    Rahul   20   36000                 89
3  Kallyan   22   28000                 90
   Emp_id     Name  Age  salary  performance_score
0    1002    Anjan   20   30000                 90
1    2001    Raman   21   33000                 85
2    1012    Rahul   20   36000                 89
3    1035  Kallyan   22   28000                 90

In [44]:
# #updating values
# print(df)
# # .loc[] access specific cell and modify
#df.loc[row_index,'col_name' ]new_value

# #lets update the salary of anjan
df.loc[0,'salary'] = 35000
# print(df)

# #updating multiple 
 #update all salary by 5%
#df['salary'] = df['salary'] + df['salary']* 0.5

#give bonus of of 1% which have performance sore >85

df['bonus_basedScores'] = 0  # Create the new column

for i in range(len(df)):
    if df.loc[i, 'performance_score'] > 85:
        df.loc[i, 'bonus_basedScores'] = df.loc[i, 'salary'] * 0.1
    else :
        df.loc[i, 'bonus_basedScores'] = df.loc[i, 'salary'] * 0.01
#same thing
# Create bonus column based on condition
#df['bonus_basedScores'] = df['salary'] * 0.1 * (df['performance_score'] > 85) + df['salary'] * 0.01 * (df['performance_score'] <= 85)
# The '+' combines two mutually exclusive conditions.
# It’s a trick to simulate if-else logic in a clean, vectorized way.

        
print(df)

   Emp_id     Name  Age  salary  performance_score  bonus_basedScores
0    1002    Anjan   20   35000                 90               3500
1    2001    Raman   21   33000                 85                330
2    1012    Rahul   20   36000                 89               3600
3    1035  Kallyan   22   28000                 90               2800

In [45]:
#remove columns
df.drop(columns=["bonus_basedScores"], inplace= True)
#multiple columns and row df.drop(columns=["col1","col2"], inplace= True)
#inplace = true modify the original data frame

print(df)

   Emp_id     Name  Age  salary  performance_score
0    1002    Anjan   20   35000                 90
1    2001    Raman   21   33000                 85
2    1012    Rahul   20   36000                 89
3    1035  Kallyan   22   28000                 90

In [46]:
#handling the missing data 
#there are some inbuilt pandas method doe this 

#NAN - > Not a  number
#None (for object data type)

#isnull() --> T /F , T-> missing value
# 
data01= {
    'Name' : ["Shibam","Raman","Shubho","Ram"],
    "Age": [20,21,20,None],
    "salary":[30000,33000,None,28000],
    "performance_score":[90,None,89,90]

}
df01 = pd.DataFrame(data01)
print(df01.isnull())

    Name    Age  salary  performance_score
0  False  False   False              False
1  False  False   False               True
2  False  False    True              False
3  False   True   False              False

In [47]:
#count missing values dum
print(df01.isnull().sum())

Name                 0
Age                  1
salary               1
performance_score    1
dtype: int64

In [48]:
#handling  the missing data

#drop the missing data

#like we drop the row here lets say
print(df01)

print("Modified")
#print(df01.dropna(axis=1 )) # remove all the column with missing none 
#no inline mention so no original modification
print(f"Final Table \n{df01.dropna(axis=0)}") #remove all the row with none

     Name   Age   salary  performance_score
0  Shibam  20.0  30000.0               90.0
1   Raman  21.0  33000.0                NaN
2  Shubho  20.0      NaN               89.0
3     Ram   NaN  28000.0               90.0
Modified
Final Table
     Name   Age   salary  performance_score
0  Shibam  20.0  30000.0               90.0

In [49]:
import math
#fill the missing values with something else
print(f"Original data table \n {df01}")

#set the age with the min of the age 
print(f"  Modified Age Column :\n  { df01['Age'].fillna( math.floor(df['Age'].mean())) }    ")
#the age column will be fill with the mean of the age

Original data table
      Name   Age   salary  performance_score
0  Shibam  20.0  30000.0               90.0
1   Raman  21.0  33000.0                NaN
2  Shubho  20.0      NaN               89.0
3     Ram   NaN  28000.0               90.0
  Modified Age Column :
  0    20.0
1    21.0
2    20.0
3    20.0
Name: Age, dtype: float64

In [50]:
#use the interpolation ->replace the missing with data 
#interpolation use a estimate value base on other data on the column
#avoid the data loss
#interpolate()
print(df01)
#df01.interpolate(method='linear',axis=0,inplace=True) #apply on rows
#types of interpolation ->liner ,polynomial,time , quadratic ...

print("After interpolation \n")
df01['Age'] = df01['Age'].interpolate(method='linear')
df01['performance_score'] = df01['performance_score'].interpolate(method='linear')
print(df01)

     Name   Age   salary  performance_score
0  Shibam  20.0  30000.0               90.0
1   Raman  21.0  33000.0                NaN
2  Shubho  20.0      NaN               89.0
3     Ram   NaN  28000.0               90.0
After interpolation

     Name   Age   salary  performance_score
0  Shibam  20.0  30000.0               90.0
1   Raman  21.0  33000.0               89.5
2  Shubho  20.0      NaN               89.0
3     Ram  20.0  28000.0               90.0

In [51]:
#sorting and aggregation


student_list = {
    "Name":["Arun","barun","Traun"],
    "Age":[19,21,20],
    "Roll":[3,1,2]
}

df_student_list = pd.DataFrame(student_list)
print(df_student_list)

print("Sorting the data Frame based on only age column")

#df.sort_values(by='col1',ascending=True,inplace=True)
print(df_student_list.sort_values(by='Age',ascending=True))

#sorting based on multiple column 
#df.sort_values(by=['col1','col2'],ascending=[True,False],inplace=True)
print("Sorting the dataFrame by age descending and roll ascending")

print(df_student_list.sort_values(by=['Age',"Roll"], ascending=[False,True]))

#lets sort by name A>b>c..
df_student_list_sorted = df_student_list.sort_values(by='Name', key=lambda x: x.str.lower())
print("Sorting the DataFrame Alphabetically (case-insensitive)")
print(df_student_list_sorted)

    Name  Age  Roll
0   Arun   19     3
1  barun   21     1
2  Traun   20     2
Sorting the data Frame based on only age column
    Name  Age  Roll
0   Arun   19     3
2  Traun   20     2
1  barun   21     1
Sorting the dataFrame by age descending and roll ascending
    Name  Age  Roll
1  barun   21     1
2  Traun   20     2
0   Arun   19     3
Sorting the DataFrame Alphabetically (case-insensitive)
    Name  Age  Roll
0   Arun   19     3
1  barun   21     1
2  Traun   20     2

In [52]:
#grouping in pandas

class_10_students = {
    "Name":["Tanmay","Tanu","kallyan","Subho","Bapan","Deba"],
    "Sec" :["A","B","A","C","B","A"],
    "Age" :[19,17,18,19,18,17]
}
df_class_10_students = pd.DataFrame(class_10_students)
print(df_class_10_students)

#group based on sec and find the min age 
group_by_sec = df_class_10_students.groupby("Sec") ["Age"].min()
print(group_by_sec)
#print(type(group_by_sec))
#print(group_by_sec["A"])


#group by multiple column

#pass as a list form groupby(["col1","col2"]).aggregation()..

      Name Sec  Age
0   Tanmay   A   19
1     Tanu   B   17
2  kallyan   A   18
3    Subho   C   19
4    Bapan   B   18
5     Deba   A   17
Sec
A    17
B    17
C    19
Name: Age, dtype: int64

In [53]:
# Creating the customer DataFrame
df_customer = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Ram", "Rahul", "Riya"]
})

# Creating the order DataFrame
df_customer_order = pd.DataFrame({
    "ID": [1, 2, 4],
    "OrderAmount": [2500, 560, 100]
})

print(df_customer)
print(df_customer_order)

# Merging the DataFrames using 'outer' join on the 'ID' column
df_merged = pd.merge(df_customer, df_customer_order, on="ID", how="outer")

# Explanation:
# 'on' specifies the common key (column) to merge on, here it's 'ID'.
# 'outer' join returns all rows from both DataFrames.
#   - If there's no match for an ID, it fills the missing values with NaN.
# 'left' join returns all rows from the left DataFrame (df_customer),
#   - and fills missing data from the right with NaN if no match is found.
# 'right' join is the reverse — keeps all rows from the right DataFrame.
# 'cross' join returns the Cartesian product (all possible combinations of rows).

print(df_merged)

   ID   Name
0   1    Ram
1   2  Rahul
2   3   Riya
   ID  OrderAmount
0   1         2500
1   2          560
2   4          100
   ID   Name  OrderAmount
0   1    Ram       2500.0
1   2  Rahul        560.0
2   3   Riya          NaN
3   4    NaN        100.0